html, body{
	margin: 0;
	padding: 0;
	text-align: center;
	overflow: hidden;
}

body{
	height: 100%;
	width: 100%;
	text-align: center;
	background: #5296A5;
	transition-duration: 1s;
	-webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
}

/*Main grid*/
.block{
	width: 100%;
	padding: 0;
	margin-top: 50vh;
	margin-bottom: 50vh;
}

.logo {
	display:inline-block;
	margin-top: -75px;
	padding: 50px;
}

.logo img{
	width: 75px;
	height: 75px;
	display: block;
	opacity: 0.6;
}

.logo img:hover{
	opacity: 1;
}

/*Hide on PC*/
.phone{
	display: none;
}

/*Animation*/
.active, .active img {
	opacity: 1;
	filter: brightness(200%) grayscale(100%) contrast(50);
}

.active_tw {
	opacity: 1;
	filter: hue-rotate(15deg) brightness(200%);
}

.active_tw img {
	opacity: 1;
}

.active_gmail {
	filter: hue-rotate(170deg) brightness(200%);
}

.active_gmail img {
	opacity: 1;
}

.active_phone, .active_phone img {
	opacity: 1;
	filter: brightness(100%) grayscale(100%) contrast(2);
}

.passive{
	opacity: 0.5;
	filter: brightness(100%) grayscale(100%) contrast(50);
}

/*Mobile*/
@media screen and (max-device-width:640px) {
	
	html, body{
		height: 100vh;
		vertical-align: middle;
	}

	.block{
		position: relative;
		margin-top: 45vh;
		margin-bottom: 50vh;
		top: -25vh;
		margin-left: 0;
		margin-right: 0;
	}

	.logo {
		padding-top: 2.5vh;
		padding-bottom: 2.5vh;
		padding-left: 15vw;
		padding-right: 15vw;
	}

	.logo img {
		width: 75px;
		height: 75px;
		display: inline-block;
		opacity: 0.5;
	}

	.phone{
		display: inline-block;
	}
}

